Repository SudhanPlayz/Discord-MusicBot, pull requests merged in 2021-07, with the labels that each got.

#279 Corrected a few typos in the index.html
  views/index.html
Labels: Enhancement

#289 fix: Updated discord invite
  README.md
Labels: Enhancement, Pull Request

#300 typo fix: contributers --> contributors
  views/dashboard.html
  views/index.html
  views/server.html
  views/servers.html
Labels: Pull Request
